[submodule "Assets/SceneAssets/UnityHexapodSimulator"]
	path = Assets/SceneAssets/UnityHexapodSimulator
	url = https://github.com/cnHeider/UnityHexapodSimulator

[submodule "Assets/Neodroid"]

	path = Assets/Neodroid
	url = https://github.com/sintefneodroid/droid
