[submodule "Assets/droid"]
	path = Assets/droid
	url = https://github.com/sintefneodroid/droid
[submodule "Assets/SceneAssets/UnityHexapodSimulator"]
	path = Assets/SceneAssets/UnityHexapodSimulator
	url = https://github.com/cnHeider/UnityHexapodSimulator
