<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" culture="neutral" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect newVersion="4.0.0.0" oldVersion="0.0.0.0-4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" culture="neutral" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect newVersion="4.0.0.0" oldVersion="0.0.0.0-4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" culture="neutral" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect newVersion="4.0.0.0" oldVersion="0.0.0.0-4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" culture="neutral" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect newVersion="4.0.0.0" oldVersion="0.0.0.0-4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" culture="neutral" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect newVersion="4.0.0.0" oldVersion="0.0.0.0-4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Primitives" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Concurrent" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation"
                          culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.2.0" oldVersion="0.0.0.0-4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.NameResolution" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.2.0" oldVersion="0.0.0.0-4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.3.0" oldVersion="0.0.0.0-4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.ResourceManager" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XDocument" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Debug" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.3.0" oldVersion="0.0.0.0-4.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Dynamic.Runtime" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Expressions" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.RegularExpressions" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.1.0" oldVersion="0.0.0.0-4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ObjectModel" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.1.1.0" oldVersion="0.0.0.0-4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Extensions" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.Extensions" culture="neutral"
                          publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>